NODE_ENV=test
PORT=3000
DATABASE_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=test_user
DATABASE_PASSWORD=test_password
DATABASE_NAME=test_db


USER_DEFAULT_ROLE=guest
USER_DEFAULT_PERMISSION=can_read_common_content

USER_LOGIN_DEFAULT_ROLE=client
USER_LOGIN_DEFAULT_PERMISSION=can_read_common_content

USER_LOGIN_EXTERNAL_ROLE=client
USER_LOGIN_EXTERNAL_PERMISSION=can_read_common_content