NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000
DATABASE_TYPE=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=Lamlibok@123
DATABASE_NAME=clover

USER_DEFAULT_ROLE=Guest
USER_DEFAULT_PERMISSION=can_read_common_content

USER_LOGIN_DEFAULT_ROLE=Client
USER_LOGIN_DEFAULT_PERMISSION=can_read_common_content

USER_LOGIN_EXTERNAL_ROLE=Client
USER_LOGIN_EXTERNAL_PERMISSION=can_read_common_content

EMAIL_HOST=your_value
EMAIL_USERNAME=your_value
EMAIL_PASSWORD=your_value

FILES_PIC_DEST=C:\Users\Public\Pictures
